extends base.pug

block title 
  title About Me 

block content
  h1#name Jarod Kafka
  #meImage
    img(src='images/big_bog.jpg' alt='Me at Big Bog State Recreation Area' height='1000')
  .columns2
    .meColumn
      h2 About Me
      p
        | Hi! My name is Jarod, and I am a Senior studying CSCI.
        | My experience with web programming includes building a discord bot to moderate
        | a professional esports organization&apos;s community, and advertise their events.
        | This was built using 
        em not well written
        | node.js. It was a fun project at
        | the time, but I&apos;m excited to learn how to better write web applications!
      p
      p
        | Outside of school, I am a 
        strong very
        | outdoorsy person. My partner and I are
        | constantly seeking out new adventures. We love to hike, camp, fish, canoe, swim, rock
        | climb,and much more. Our adventures have included trips to State Parks on the North
        | Shore and elsewhere, as well as various SNAs and more!
      p
      p
        | My favorite part of this summer was easily my boundary waters trip I was lucky enough
        | to spend with my partner. We spent four days paddling--from Ely to Canada--catching
        | both fish and sunrays, and cooking and relaxing. It was one of the most enthralling
        | things to experience in my life, and I recommend it to everyone.
    .meColumn
      h2 Favorites
      h3 Movies
      ul
        li Lord of the Rings: The Two Towers
        li Eternal Sunshine of the Spotless Mind
        li Inside Out
        li Star Wars III: Revenge of the Sith
        li Lord of the Rings: The Fellowship of the Ring
        li Lord of the Rings: Return of the King
        li Coco
        li Black Panther
      h3 Shows
      ul
        li Psych
        li Chuck
        li Lord of the Rings: Rings of Power
        li Breaking Bad
        li Stranger Things
        li Community
        li Phineas and Ferb
        li Percy Jackson and the Olympians (Hopefully)
